html {
  background: linear-gradient(#234439, rgb(35, 39, 46));
  height: 100%;

}
.search {
  padding-top: 10px;
}
body, a {
  text-align: center;
  color: antiquewhite;
  padding: 0 2% 0 2%;
}
.edit a:hover, ul a:hover {
  font-size: 18px;

}
label {
  display: block;
}

ul {
  list-style: none;
  text-align: left;
  margin-left: 10%;
  font-size: 20px;
}

p, h1 {
  margin: 5%;
}
