.logout {
  float: left;
}

html {
  background: linear-gradient(#9fbdb3, rgb(35, 39, 46));
  height: 100%;

}
.logs {
  padding: -10px;
}
.search {
  padding-top: -10px;
}
.topright {
  position: absolute;
  top: 5px;
  right: 5px;
}
body, a {
  text-align: center;
  color: antiquewhite;
  padding: 0 2% 0 2%;
}
/*.edit a:hover, ul a:hover {
  font-size: 18px;

}*/
label {
  display: block;
}

ul {
  list-style: none;
  text-align: left;
  margin-left: 10%;
  font-size: 20px;
}

p, h1 {
  margin: 5%;
}
